html[data-theme="light"] {

  --color-components-input-bg-normal: var(--color-basic-gray-50);
  --color-components-input-text-placeholder: var(--color-basic-gray-400);
  --color-components-input-bg-hover: var(--color-basic-gray-100);
  --color-components-input-bg-active: var(--color-basic-gray-200);
  --color-components-input-border-active: var(--color-basic-gray-600);
  --color-components-input-border-destructive: var(--color-basic-red-400);
  --color-components-input-text-filled: var(--color-basic-black);
  --color-components-input-bg-destructive: var(--color-basic-gray-50);
  --color-components-input-bg-disabled: var(--color-basic-gray-100);
  --color-components-input-text-disabled: var(--color-basic-gray-300);
  --color-components-input-text-filled-disabled: var(--color-basic-gray-500);
  --color-components-input-border-hover: var(--color-basic-gray-200);
  --color-components-input-border-active-prompt-1: var(--color-basic-blue-500);
  --color-components-input-border-active-prompt-2: var(--color-basic-blue-600);;

  --color-components-kbd-bg-gray: #1018280A;
  --color-components-kbd-bg-white: #FFFFFF1F;

  --color-components-tooltip-bg: var(--black);

  --color-components-button-primary-text: var(--color-basic-white);
  --color-components-button-primary-bg: var(--color-basic-primary-500);
  --color-components-button-primary-border: #1018280A;
  --color-components-button-primary-bg-hover: var(--color-basic-primary-600);
  --color-components-button-primary-border-hover: #10182814;
  --color-components-button-primary-bg-disabled: var(--color-basic-primary-300);
  --color-components-button-primary-border-disabled: #FFFFFF00;
  --color-components-button-primary-text-disabled: var(--color-basic-white);

  --color-components-button-secondary-text: var(--color-basic-black);
  --color-components-button-secondary-text-disabled: var(--color-basic-gray-200);
  --color-components-button-secondary-bg: #FFFFFF00;
  --color-components-button-secondary-bg-hover: var(--color-basic-darktrans-50);
  --color-components-button-secondary-bg-disabled: #FFFFFF00;
  --color-components-button-secondary-border: var(--color-basic-gray-500);
  --color-components-button-secondary-border-hover: var(--color-basic-gray-700);
  --color-components-button-secondary-border-disabled:var(--color-basic-gray-200);

  --color-components-button-tertiary-text: var(--color-basic-gray-600);
  --color-components-button-tertiary-text-disabled:var(--color-basic-gray-200);
  --color-components-button-tertiary-bg: #FFFFFF00;
  --color-components-button-tertiary-bg-hover: var(--color-basic-darktrans-50);
  --color-components-button-tertiary-bg-disabled: #FFFFFF00;

  --color-components-button-ghost-text:var(--color-basic-gray-600);
  --color-components-button-ghost-text-disabled: var(--color-basic-gray-200);
  --color-components-button-ghost-bg-hover: var(--color-basic-darktrans-50);

  --color-components-button-destructive-primary-text: var(--color-basic-white);
  --color-components-button-destructive-primary-text-disabled:  var(--color-basic-red-100);
  --color-components-button-destructive-primary-bg: var(--color-basic-red-500);
  --color-components-button-destructive-primary-bg-hover: var(--color-basic-red-600);
  --color-components-button-destructive-primary-bg-disabled: var(--color-basic-red-300);
  --color-components-button-destructive-primary-border: #18181B0A;
  --color-components-button-destructive-primary-border-hover: #18181B14;
  --color-components-button-destructive-primary-border-disabled: #FFFFFF00;

  --color-components-button-destructive-secondary-text: var(--color-basic-red-500);
  --color-components-button-destructive-secondary-text-disabled: var(--color-basic-red-200);
  --color-components-button-destructive-secondary-bg: var(--color-basic-white);
  --color-components-button-destructive-secondary-bg-hover: #FEF3F2;
  --color-components-button-destructive-secondary-bg-disabled: #FEF3F2;
  --color-components-button-destructive-secondary-border: #18181B14;
  --color-components-button-destructive-secondary-border-hover: #F0443840;
  --color-components-button-destructive-secondary-border-disabled: #F044380A;

  --color-components-button-destructive-tertiary-text: var(--color-basic-red-500);
  --color-components-button-destructive-tertiary-text-disabled: var(--color-basic-red-200);
  --color-components-button-destructive-tertiary-bg: #FFFFFF00;
  --color-components-button-destructive-tertiary-bg-hover: var(--color-basic-redtrans-50);
  --color-components-button-destructive-tertiary-bg-disabled: #FFFFFF00;

  --color-components-button-destructive-ghost-text: var(--color-basic-redtrans-50);
  --color-components-button-destructive-ghost-text-disabled: var(--color-basic-red-200);
  --color-components-button-destructive-ghost-bg-hover: var(--color-basic-redtrans-50);

  --color-components-button-secondary-accent-text: var(--color-basic-primary-500);
  --color-components-button-secondary-accent-text-disabled:var(--color-basic-primary-200);
  --color-components-button-secondary-accent-bg: var(--color-basic-white);
  --color-components-button-secondary-accent-bg-hover: var(--color-basic-primarytrans-50);
  --color-components-button-secondary-accent-bg-disabled: #FFFFFF00;
  --color-components-button-secondary-accent-border: var(--color-basic-primary-400);
  --color-components-button-secondary-accent-border-hover:  var(--color-basic-primary-500);
  --color-components-button-secondary-accent-border-disabled: var(--color-basic-primary-100);

  --color-components-checkbox-icon: var(--color-basic-white);
  --color-components-checkbox-icon-disabled: var(--color-basic-gray-100);
  --color-components-checkbox-bg: var(--color-basic-primary-400);
  --color-components-checkbox-bg-hover: var(--color-basic-primary-500);
  --color-components-checkbox-bg-disabled: var(--color-basic-primary-100);
  --color-components-checkbox-border: var(--color-basic-gray-300);
  --color-components-checkbox-border-hover: var(--color-basic-gray-400);
  --color-components-checkbox-border-disabled: var(--color-basic-gray-100);
  --color-components-checkbox-bg-unchecked: var(--color-basic-white);
  --color-components-checkbox-bg-unchecked-hover: var(--color-basic-white);

  --color-components-radio-border-checked: var(--color-basic-primary-400);
  --color-components-radio-border-checked-hover: var(--color-basic-primary-500);
  --color-components-radio-border-checked-disabled: var(--color-basic-primary-200);
  --color-components-radio-bg-disabled: #FFFFFF00;
  --color-components-radio-border: var(--color-basic-gray-300);
  --color-components-radio-border-hover: var(--color-basic-gray-400);
  --color-components-radio-border-disabled: #18181B0A;
  --color-components-radio-bg: #FFFFFF00;
  --color-components-radio-bg-hover: #FFFFFF00;

  --color-components-toggle-knob: var(--color-basic-white);
  --color-components-toggle-knob-disabled: #FFFFFFF2;
  --color-components-toggle-bg: var(--color-basic-primary-400);
  --color-components-toggle-bg-hover:var(--color-basic-primary-500);
  --color-components-toggle-bg-disabled: var(--color-basic-primary-200);
  --color-components-toggle-bg-unchecked:  var(--color-basic-gray-200);
  --color-components-toggle-bg-unchecked-hover: var(--color-basic-gray-300);
  --color-components-toggle-bg-unchecked-disabled:  var(--color-basic-gray-100);
  --color-components-toggle-knob-hover: var(--color-basic-white);

  --color-components-card-bg: var(--color-basic-white);
  --color-components-card-border: var(--color-basic-white);
  --color-components-card-bg-alt: var(--color-basic-white);

  --color-components-menu-item-text: var(--color-basic-gray-500);
  --color-components-menu-item-text-active: var(--color-basic-gray-900);
  --color-components-menu-item-text-hover: var(--color-basic-gray-800);
  --color-components-menu-item-text-active-accent: var(--color-basic-primary-500);

  --color-components-panel-bg: var(--color-basic-white);
  --color-components-panel-bg-blur: #FFFFFFF2;
  --color-components-panel-border: var(--color-basic-darktrans-200);
  --color-components-panel-border-subtle: var(--color-basic-darktrans-100);
  --color-components-panel-gradient-2: #F9FAFB;
  --color-components-panel-gradient-1: var(--color-basic-white);
  --color-components-panel-bg-alt:  var(--color-basic-gray-50);
  --color-components-panel-on-panel-item-bg: var(--color-basic-white);
  --color-components-panel-on-panel-item-bg-hover: var(--color-basic-gray-100);
  --color-components-panel-on-panel-item-bg-alt: var(--color-basic-gray-50);

  --color-components-panel-bg-transparent: #FFFFFF00;

  --color-components-main-nav-nav-button-text: var(--color-basic-gray-600);
  --color-components-main-nav-nav-button-text-active: var(--color-basic-primary-400);
  --color-components-main-nav-nav-button-bg: #FFFFFF00;
  --color-components-main-nav-nav-button-bg-active: var(--color-basic-primarytrans-50);
  --color-components-main-nav-nav-button-border: #FFFFFFF2;
  --color-components-main-nav-nav-button-bg-hover: var(--color-basic-darktrans-50);

  --color-components-main-nav-nav-user-border: var(--color-basic-white);

  --color-components-slider-knob: var(--color-basic-white);
  --color-components-slider-knob-hover: var(--color-basic-white);
  --color-components-slider-knob-disabled: #FFFFFFF2;
  --color-components-slider-range: var(--color-basic-primary-400);
  --color-components-slider-track: var(--color-basic-gray-100);
  --color-components-slider-knob-border-hover: var(--color-basic-primarytrans-200);
  --color-components-slider-knob-border: var(--color-basic-primarytrans-100);

  --color-components-segmented-control-item-active-bg: var(--color-basic-white);
  --color-components-segmented-control-item-active-border: var(--color-basic-white);
  --color-components-segmented-control-bg-normal: var(--color-basic-darktrans-50);
  --color-components-segmented-control-item-active-accent-bg: var(--color-basic-white);
  --color-components-segmented-control-item-active-accent-border: var(--color-basic-white);

  --color-components-option-card-option-bg: var(--color-basic-gray-50);
  --color-components-option-card-option-selected-bg: var(--color-basic-white);
  --color-components-option-card-option-selected-border: var(--color-basic-primary-400);
  --color-components-option-card-option-border: var(--color-basic-gray-100);
  --color-components-option-card-option-bg-hover: var(--color-basic-white);
  --color-components-option-card-option-border-hover: var(--color-basic-gray-200);

  --color-components-tab-active: var(--color-basic-primary-400);;

  --color-components-badge-white-to-dark: var(--color-basic-white);
  --color-components-badge-status-light-success-bg: var(--color-basic-green-400);
  --color-components-badge-status-light-success-border-inner: var(--color-basic-green-500);
  --color-components-badge-status-light-success-halo: #17B26A00;

  --color-components-badge-status-light-border-outer: var(--color-basic-white);
  --color-components-badge-status-light-high-light: #FFFFFF4D;
  --color-components-badge-status-light-warning-bg: var(--color-basic-yellow-500);
  --color-components-badge-status-light-warning-border-inner:  var(--color-basic-yellow-600);
  --color-components-badge-status-light-warning-halo: #F7900900;

  --color-components-badge-status-light-error-bg:  var(--color-basic-red-400);
  --color-components-badge-status-light-error-border-inner: var(--color-basic-red-500);
  --color-components-badge-status-light-error-halo: #F0443800;

  --color-components-badge-status-light-normal-bg: var(--color-basic-blue-400);
  --color-components-badge-status-light-normal-border-inner: var(--color-basic-blue-500);
  --color-components-badge-status-light-normal-halo: #0BA5EC00;

  --color-components-badge-status-light-disabled-bg: var(--color-basic-gray-500);
  --color-components-badge-status-light-disabled-border-inner: var(--color-basic-gray-600);
  --color-components-badge-status-light-disabled-halo: #10182800;

  --color-components-badge-bg-green-soft: var(--color-basic-green-50);
  --color-components-badge-bg-orange-soft: var(--color-basic-yellow-50);
  --color-components-badge-bg-red-soft: var(--color-basic-red-50);
  --color-components-badge-bg-blue-light-soft: var(--color-basic-blue-50);
  --color-components-badge-bg-gray-soft: var(--color-basic-gray-50);

  --color-components-chart-line: var(--color-basic-primary-400);
  --color-components-chart-area-1: var(--color-basic-primarytrans-100);
  --color-components-chart-area-2: var(--color-basic-primarytrans-50);
  --color-components-chart-current-1: var(--color-basic-primary-400);
  --color-components-chart-current-2: var(--color-basic-primary-100);
  --color-components-chart-bg: var(--color-basic-white);

  --color-components-actionbar-bg: #FFFFFFF2;
  --color-components-actionbar-border: #1018280A;

  --color-components-dropzone-bg-alt: var(--color-basic-gray-50);
  --color-components-dropzone-bg: var(--color-basic-gray-50);
  --color-components-dropzone-bg-accent:var(--color-basic-primary-100);
  --color-components-dropzone-border: var(--color-basic-gray-200);
  --color-components-dropzone-border-alt: var(--color-basic-gray-200);
  --color-components-dropzone-border-accent: var(--color-basic-primary-300);

  --color-components-progress-brand-progress: var(--color-basic-primary-400);
  --color-components-progress-brand-border: var(--color-basic-primary-400);
  --color-components-progress-brand-bg: var(--color-basic-primarytrans-100);

  --color-components-progress-white-progress: var(--color-basic-white);
  --color-components-progress-white-border: #FFFFFFF2;
  --color-components-progress-white-bg: #FFFFFF03;

  --color-components-progress-gray-progress: var(--color-basic-gray-300);
  --color-components-progress-gray-border: var(--color-basic-gray-300);
  --color-components-progress-gray-bg: var(--color-basic-gray-100);

  --color-components-chat-input-audio-bg: #EFF4FF;
  --color-components-chat-input-audio-wave-default: #155AEF33;
  --color-components-chat-input-bg-mask-1: #FFFFFF03;
  --color-components-chat-input-bg-mask-2: #F2F4F7;
  --color-components-chat-input-border: var(--color-basic-white);
  --color-components-chat-input-audio-wave-active: var(--color-basic-primary-300);
  --color-components-chat-input-audio-bg-alt: #FCFCFD;

  --color-components-Avatar-shape-fill-stop-0: var(--color-basic-white);
  --color-components-Avatar-shape-fill-stop-100: var(--color-basic-gray-50);

  --color-components-Avatar-bg-mask-stop-0: #FFFFFF1F;
  --color-components-Avatar-bg-mask-stop-100: #FFFFFF14;

  --color-components-Avatar-default-avatar-bg: var(--color-basic-gray-100);

  --color-text-primary: var(--color-basic-black);
  --color-text-secondary: var(--color-basic-gray-600);
  --color-text-tertiary: var(--color-basic-gray-400);
  --color-text-quaternary: #1018284D;
  --color-text-destructive: var(--color-basic-red-500);
  --color-text-success: var(--color-basic-green-500);
  --color-text-warning: var(--color-basic-yellow-500);
  --color-text-destructive-secondary: var(--color-basic-red-400);
  --color-text-success-secondary: var(--color-basic-green-400);
  --color-text-warning-secondary: var(--color-basic-yellow-400);
  --color-text-accent: var(--color-basic-primary-500);
  --color-text-primary-on-surface: var(--color-basic-white);
  --color-text-placeholder: var(--color-basic-gray-300);
  --color-text-disabled: var(--color-basic-gray-200);
  --color-text-accent-secondary: var(--color-basic-primary-500);
  --color-text-accent-light-mode-only: var(--color-basic-primary-500);
  --color-text-text-selected: #155AEF24;
  --color-text-secondary-on-surface: #FFFFFFE5;
  --color-text-logo-text: #18222F;
  --color-text-empty-state-icon: var(--color-basic-secondary-300);
  --color-text-inverted: #000000;

  --color-background-body: var(--color-basic--white);
  --color-background-default-subtle: var(--color-gray-50);
  --color-background-neutral-subtle: var(--color-gray-50);
  --color-background-sidenav-bg: var(--color-basic--white);
  --color-background-default: var(--color-basic-white);
  --color-background-soft: var(--color-gray-25);
  --color-background-gradient-bg-fill-chat-bg-1: #F9FAFB;
  --color-background-gradient-bg-fill-chat-bg-2: #F2F4F7;
  --color-background-gradient-bg-fill-chat-bubble-bg-1: var(--color-basic-white);
  --color-background-gradient-bg-fill-chat-bubble-bg-2: #FFFFFF99;
  --color-background-gradient-bg-fill-debug-bg-1: var(--color-gray-50);
  --color-background-gradient-bg-fill-debug-bg-2: var(--color-gray-100);

  --color-background-gradient-mask-gray: #C8CEDA33;
  --color-background-gradient-mask-transparent: #FFFFFF00;
  --color-background-gradient-mask-input-clear-2: #E9EBF000;
  --color-background-gradient-mask-input-clear-1: #E9EBF0;
  --color-background-gradient-mask-transparent-dark: #00000000;
  --color-background-gradient-mask-side-panel-2: #1018284D;
  --color-background-gradient-mask-side-panel-1: #10182805;

  --color-background-default-burn: #E9EBF0;
  --color-background-overlay-fullscreen: #F9FAFBF2;
  --color-background-default-lighter: #FFFFFF80;
  --color-background-section: #F9FAFB;
  --color-background-interaction-from-bg-1: #C8CEDA33;
  --color-background-interaction-from-bg-2: #C8CEDA24;
  --color-background-section-burn: #F2F4F7;
  --color-background-default-dodge: var(--color-basic-white);
  --color-background-overlay: #10182899;
  --color-background-default-dimm: #E9EBF0;
  --color-background-default-hover: #F9FAFB;
  --color-background-overlay-alt: #10182866;
  --color-background-surface-white: #FFFFFFF2;
  --color-background-overlay-destructive: #F044384D;

  --color-shadow-shadow-1: #09090B08;
  --color-shadow-shadow-3: #09090B0D;
  --color-shadow-shadow-4: #09090B0F;
  --color-shadow-shadow-5: #09090B14;
  --color-shadow-shadow-6: #09090B1A;
  --color-shadow-shadow-7: #09090B1F;
  --color-shadow-shadow-8: #09090B24;
  --color-shadow-shadow-9: #09090B2E;
  --color-shadow-shadow-2: #09090B0A;
  --color-shadow-shadow-10: #09090B0D;

  --color-workflow-block-border: var(--color-basic-white);
  --color-workflow-block-parma-bg: #F2F4F7;
  --color-workflow-block-bg: #FCFCFD;
  --color-workflow-block-border-highlight: #155AEF24;

  --color-workflow-canvas-workflow-dot-color: #8585AD26;
  --color-workflow-canvas-workflow-bg: #F2F4F7;

  --color-workflow-link-line-active: var(--color-basic-primary-400);
  --color-workflow-link-line-normal: var(--color-basic-gray-200);
  --color-workflow-link-line-handle: var(--color-basic-primary-500);

  --color-workflow-minimap-bg: var(--color-basic-gray-25);
  --color-workflow-minimap-block: var(--color-basic-gray-200);

  --color-workflow-display-success-bg: var(--color-basic-green-50);
  --color-workflow-display-success-border-1: var(--color-basic-greentrans-300);
  --color-workflow-display-success-border-2: var(--color-basic-greentrans-500);
  --color-workflow-display-success-vignette-color: var(--color-basic-greentrans-50);
  --color-workflow-display-success-bg-line-pattern: var(--color-basic-greentrans-100);

  --color-workflow-display-glass-1: #FFFFFF1F;
  --color-workflow-display-glass-2: #FFFFFF80;
  --color-workflow-display-vignette-dark: #0000001F;
  --color-workflow-display-highlight: #FFFFFF80;
  --color-workflow-display-outline: #0000000D;
  --color-workflow-display-error-bg: #FEF3F2;
  --color-workflow-display-error-bg-line-pattern: var(--color-basic-redtrans-200);
  --color-workflow-display-error-border-1: var(--color-basic-redtrans-500);
  --color-workflow-display-error-border-2: var(--color-basic-redtrans-300);
  --color-workflow-display-error-vignette-color: var(--color-basic-redtrans-50);

  --color-workflow-display-warning-bg: var(--color-basic-yellow-50);
  --color-workflow-display-warning-bg-line-pattern: var(--color-basic-yellowtrans-200);
  --color-workflow-display-warning-border-1: var(--color-basic-yellowtrans-500);
  --color-workflow-display-warning-border-2: var(--color-basic-yellowtrans-300);
  --color-workflow-display-warning-vignette-color: var(--color-basic-redtrans-50);

  --color-workflow-display-normal-bg: var(--color-basic-blue-50);
  --color-workflow-display-normal-bg-line-pattern: var(--color-basic-yellowtrans-200);
  --color-workflow-display-normal-border-1:  var(--color-basic-yellowtrans-500);
  --color-workflow-display-normal-border-2:  var(--color-basic-yellowtrans-300);
  --color-workflow-display-normal-vignette-color:  var(--color-basic-yellowtrans-50);

  --color-workflow-display-disabled-bg: var(--color-basic-gray-50);
  --color-workflow-display-disabled-bg-line-pattern: var(--color-basic-darktrans-200);
  --color-workflow-display-disabled-border-1: var(--color-basic-darktrans-500);
  --color-workflow-display-disabled-border-2: var(--color-basic-darktrans-300);
  --color-workflow-display-disabled-vignette-color: var(--color-basic-darktrans-50);
  --color-workflow-display-disabled-outline: #00000000;

  --color-workflow-workflow-progress-bg-1: var(--color-basic-darktrans-500);
  --color-workflow-workflow-progress-bg-2: var(--color-basic-darktrans-100);

  --color-divider-subtle: var(--color-basic-darktrans-50);
  --color-divider-regular: var(--color-basic-darktrans-100);
  --color-divider-deep: var(--color-basic-darktrans-200);
  --color-divider-burn: var(--color-basic-darktrans-50);
  --color-divider-intense: var(--color-basic-darktrans-300);
  --color-divider-solid: var(--color-basic-gray-100);
  --color-divider-solid-alt: var(--color-basic-gray-200);

  --color-state-base-hover: var(--color-basic-darktrans-50);
  --color-state-base-active: var(--color-basic-darktrans-200);
  --color-state-base-hover-alt: var(--color-basic-darktrans-100);
  --color-state-base-handle: var(--color-basic-darktrans-300);
  --color-state-base-handle-hover: var(--color-basic-darktrans-400);

  --color-state-accent-hover: var(--color-basic-primarytrans-50);
  --color-state-accent-active: var(--color-basic-primarytrans-200);
  --color-state-accent-hover-alt: var(--color-basic-primarytrans-100);
  --color-state-accent-solid: var(--color-basic-primary-400);
  --color-state-accent-active-alt: var(--color-basic-primarytrans-300);

  --color-state-destructive-hover: var(--color-basic-red-50);
  --color-state-destructive-hover-alt: var(--color-basic-red-100);
  --color-state-destructive-active: var(--color-basic-red-200);
  --color-state-destructive-solid: var(--color-basic-red-400);
  --color-state-destructive-border: var(--color-basic-red-200);

  --color-state-success-hover: var(--color-basic-green-50);
  --color-state-success-hover-alt: var(--color-basic-green-100);
  --color-state-success-active: var(--color-basic-green-200);
  --color-state-success-solid: var(--color-basic-green-500);

  --color-state-warning-hover: var(--color-yellow-green-50);
  --color-state-warning-hover-alt: var(--color-yellow-yellow-100);
  --color-state-warning-active: var(--color-yellow-yellow-200);
  --color-state-warning-solid: var(--color-yellow-yellow-500);

  --color-effects-highlight: var(--color-basic-white);
  --color-effects-highlight-lightmode-off: #FFFFFF00;
  --color-effects-image-frame: var(--color-basic-white);

  --color-util-colors-orange-dark-orange-dark-50: #FFF4ED;
  --color-util-colors-orange-dark-orange-dark-100: #FFE6D5;
  --color-util-colors-orange-dark-orange-dark-200: #FFD6AE;
  --color-util-colors-orange-dark-orange-dark-300: #FF9C66;
  --color-util-colors-orange-dark-orange-dark-400: #FF692E;
  --color-util-colors-orange-dark-orange-dark-500: #FF4405;
  --color-util-colors-orange-dark-orange-dark-600: #E62E05;
  --color-util-colors-orange-dark-orange-dark-700: #BC1B06;

  --color-util-colors-orange-orange-50: #FEF6EE;
  --color-util-colors-orange-orange-100: #FDEAD7;
  --color-util-colors-orange-orange-200: #F9DBAF;
  --color-util-colors-orange-orange-300: #F7B27A;
  --color-util-colors-orange-orange-400: #F38744;
  --color-util-colors-orange-orange-500: #EF6820;
  --color-util-colors-orange-orange-600: #E04F16;
  --color-util-colors-orange-orange-700: #B93815;

  --color-util-colors-pink-pink-50: #FDF2FA;
  --color-util-colors-pink-pink-100: #FCE7F6;
  --color-util-colors-pink-pink-200: #FCCEEE;
  --color-util-colors-pink-pink-300: #FAA7E0;
  --color-util-colors-pink-pink-400: #F670C7;
  --color-util-colors-pink-pink-500: #EE46BC;
  --color-util-colors-pink-pink-600: #DD2590;
  --color-util-colors-pink-pink-700: #C11574;

  --color-util-colors-fuchsia-fuchsia-50: #FDF4FF;
  --color-util-colors-fuchsia-fuchsia-100: #FBE8FF;
  --color-util-colors-fuchsia-fuchsia-200: #F6D0FE;
  --color-util-colors-fuchsia-fuchsia-300: #EEAAFD;
  --color-util-colors-fuchsia-fuchsia-400: #E478FA;
  --color-util-colors-fuchsia-fuchsia-500: #D444F1;
  --color-util-colors-fuchsia-fuchsia-600: #BA24D5;
  --color-util-colors-fuchsia-fuchsia-700: #9F1AB1;

  --color-util-colors-purple-purple-50: #F4F3FF;
  --color-util-colors-purple-purple-100: #EBE9FE;
  --color-util-colors-purple-purple-200: #D9D6FE;
  --color-util-colors-purple-purple-300: #BDB4FE;
  --color-util-colors-purple-purple-400: #9B8AFB;
  --color-util-colors-purple-purple-500: #7A5AF8;
  --color-util-colors-purple-purple-600: #6938EF;
  --color-util-colors-purple-purple-700: #5925DC;

  --color-util-colors-indigo-indigo-50: #EEF4FF;
  --color-util-colors-indigo-indigo-100: #E0EAFF;
  --color-util-colors-indigo-indigo-200: #C7D7FE;
  --color-util-colors-indigo-indigo-300: #A4BCFD;
  --color-util-colors-indigo-indigo-400: #8098F9;
  --color-util-colors-indigo-indigo-500: #6172F3;
  --color-util-colors-indigo-indigo-600: #444CE7;
  --color-util-colors-indigo-indigo-700: #3538CD;

  --color-util-colors-blue-blue-50: #EFF8FF;
  --color-util-colors-blue-blue-100: #D1E9FF;
  --color-util-colors-blue-blue-200: #B2DDFF;
  --color-util-colors-blue-blue-300: #84CAFF;
  --color-util-colors-blue-blue-400: #53B1FD;
  --color-util-colors-blue-blue-500: #2E90FA;
  --color-util-colors-blue-blue-600: #1570EF;
  --color-util-colors-blue-blue-700: #175CD3;

  --color-util-colors-blue-light-blue-light-50: #F0F9FF;
  --color-util-colors-blue-light-blue-light-100: #E0F2FE;
  --color-util-colors-blue-light-blue-light-200: #B9E6FE;
  --color-util-colors-blue-light-blue-light-300: #7CD4FD;
  --color-util-colors-blue-light-blue-light-400: #36BFFA;
  --color-util-colors-blue-light-blue-light-500: #0BA5EC;
  --color-util-colors-blue-light-blue-light-600: #0086C9;
  --color-util-colors-blue-light-blue-light-700: #026AA2;

  --color-util-colors-gray-blue-gray-blue-50: #F8F9FC;
  --color-util-colors-gray-blue-gray-blue-100: #EAECF5;
  --color-util-colors-gray-blue-gray-blue-200: #D5D9EB;
  --color-util-colors-gray-blue-gray-blue-300: #B3B8DB;
  --color-util-colors-gray-blue-gray-blue-400: #717BBC;
  --color-util-colors-gray-blue-gray-blue-500: #4E5BA6;
  --color-util-colors-gray-blue-gray-blue-600: #3E4784;
  --color-util-colors-gray-blue-gray-blue-700: #363F72;

  --color-util-colors-blue-brand-blue-brand-50: #F5F7FF;
  --color-util-colors-blue-brand-blue-brand-100: #D1E0FF;
  --color-util-colors-blue-brand-blue-brand-200: #B2CAFF;
  --color-util-colors-blue-brand-blue-brand-300: #84ABFF;
  --color-util-colors-blue-brand-blue-brand-400: #5289FF;
  --color-util-colors-blue-brand-blue-brand-500: #296DFF;
  --color-util-colors-blue-brand-blue-brand-600: #155AEF;
  --color-util-colors-blue-brand-blue-brand-700: #004AEB;

  --color-util-colors-red-red-50: #FEF3F2;
  --color-util-colors-red-red-100: #FEE4E2;
  --color-util-colors-red-red-200: #FECDCA;
  --color-util-colors-red-red-300: #FDA29B;
  --color-util-colors-red-red-400: #F97066;
  --color-util-colors-red-red-500: #F04438;
  --color-util-colors-red-red-600: #D92D20;
  --color-util-colors-red-red-700: #B42318;

  --color-util-colors-green-green-50: #ECFDF3;
  --color-util-colors-green-green-100: #DCFAE6;
  --color-util-colors-green-green-200: #ABEFC6;
  --color-util-colors-green-green-300: #75E0A7;
  --color-util-colors-green-green-400: #47CD89;
  --color-util-colors-green-green-500: #17B26A;
  --color-util-colors-green-green-600: #079455;
  --color-util-colors-green-green-700: #067647;

  --color-util-colors-warning-warning-50: #FFFAEB;
  --color-util-colors-warning-warning-100: #FEF0C7;
  --color-util-colors-warning-warning-200: #FEDF89;
  --color-util-colors-warning-warning-300: #FEC84B;
  --color-util-colors-warning-warning-400: #FDB022;
  --color-util-colors-warning-warning-500: #F79009;
  --color-util-colors-warning-warning-600: #DC6803;
  --color-util-colors-warning-warning-700: #B54708;

  --color-util-colors-yellow-yellow-50: #FEFBE8;
  --color-util-colors-yellow-yellow-100: #FEF7C3;
  --color-util-colors-yellow-yellow-200: #FEEE95;
  --color-util-colors-yellow-yellow-300: #FDE272;
  --color-util-colors-yellow-yellow-400: #FAC515;
  --color-util-colors-yellow-yellow-500: #EAAA08;
  --color-util-colors-yellow-yellow-600: #CA8504;
  --color-util-colors-yellow-yellow-700: #A15C07;

  --color-util-colors-teal-teal-50: #F0FDF9;
  --color-util-colors-teal-teal-100: #CCFBEF;
  --color-util-colors-teal-teal-200: #99F6E0;
  --color-util-colors-teal-teal-300: #5FE9D0;
  --color-util-colors-teal-teal-400: #2ED3B7;
  --color-util-colors-teal-teal-500: #15B79E;
  --color-util-colors-teal-teal-600: #0E9384;
  --color-util-colors-teal-teal-700: #107569;

  --color-util-colors-cyan-cyan-50: #ECFDFF;
  --color-util-colors-cyan-cyan-100: #CFF9FE;
  --color-util-colors-cyan-cyan-200: #A5F0FC;
  --color-util-colors-cyan-cyan-300: #67E3F9;
  --color-util-colors-cyan-cyan-400: #22CCEE;
  --color-util-colors-cyan-cyan-500: #06AED4;
  --color-util-colors-cyan-cyan-600: #088AB2;
  --color-util-colors-cyan-cyan-700: #0E7090;

  --color-util-colors-violet-violet-50: #F5F3FF;
  --color-util-colors-violet-violet-100: #ECE9FE;
  --color-util-colors-violet-violet-200: #DDD6FE;
  --color-util-colors-violet-violet-300: #C3B5FD;
  --color-util-colors-violet-violet-400: #A48AFB;
  --color-util-colors-violet-violet-500: #875BF7;
  --color-util-colors-violet-violet-600: #7839EE;
  --color-util-colors-violet-violet-700: #6927DA;

  --color-util-colors-gray-gray-50: #F9FAFB;
  --color-util-colors-gray-gray-100: #F2F4F7;
  --color-util-colors-gray-gray-200: #E9EBF0;
  --color-util-colors-gray-gray-300: #D0D5DC;
  --color-util-colors-gray-gray-400: #98A2B2;
  --color-util-colors-gray-gray-500: #676F83;
  --color-util-colors-gray-gray-600: #495464;
  --color-util-colors-gray-gray-700: #354052;

  --color-util-colors-green-light-green-light-50: #F3FEE7;
  --color-util-colors-green-light-green-light-100: #E3FBCC;
  --color-util-colors-green-light-green-light-200: #D0F8AB;
  --color-util-colors-green-light-green-light-300: #A6EF67;
  --color-util-colors-green-light-green-light-500: #66C61C;
  --color-util-colors-green-light-green-light-400: #85E13A;
  --color-util-colors-green-light-green-light-600: #4CA30D;
  --color-util-colors-green-light-green-light-700: #3B7C0F;

  --color-util-colors-rose-rose-50: #FFF1F3;
  --color-util-colors-rose-rose-100: #FFE4E8;
  --color-util-colors-rose-rose-200: #FECDD6;
  --color-util-colors-rose-rose-300: #FEA3B4;
  --color-util-colors-rose-rose-400: #FD6F8E;
  --color-util-colors-rose-rose-500: #F63D68;
  --color-util-colors-rose-rose-600: #E31B54;
  --color-util-colors-rose-rose-700: #C01048;

  --color-util-colors-midnight-midnight-50: #FBFBFC;
  --color-util-colors-midnight-midnight-100: #F0F2F5;
  --color-util-colors-midnight-midnight-200: #DFE1EA;
  --color-util-colors-midnight-midnight-300: #C6CBD9;
  --color-util-colors-midnight-midnight-400: #A7AEC5;
  --color-util-colors-midnight-midnight-500: #828DAD;
  --color-util-colors-midnight-midnight-600: #5D698D;
  --color-util-colors-midnight-midnight-700: #3E465E;

  --color-third-party-LangChain: #1C3C3C;
  --color-third-party-Langfuse: #000000;
  --color-third-party-Github: #1B1F24;
}