@tailwind components;

@layer components {
  .btn {
    @apply inline-flex justify-center items-center cursor-pointer whitespace-nowrap;
  }

  .btn-disabled {
    @apply cursor-not-allowed;
  }

  .btn-small {
    @apply px-2 h-6 rounded-full text-xs leading-4 font-medium gap-1;
  }

  .btn-medium {
    @apply px-4 h-9 rounded-full text-sm leading-5 font-medium gap-2;
  }

  .btn-large {
    @apply px-6 h-12 rounded-full text-base leading-6 font-semibold gap-3;
  }

  .btn-primary {
    @apply 
    shadow-none
    bg-components-button-primary-bg
    border-components-button-primary-border
    hover:bg-components-button-primary-bg-hover
    hover:border-components-button-primary-border-hover
    text-components-button-primary-text;
  }

  .btn-primary.btn-destructive {
    @apply
    shadow-none 
    bg-components-button-destructive-primary-bg
    border-components-button-destructive-primary-border
    hover:bg-components-button-destructive-primary-bg-hover
    hover:border-components-button-destructive-primary-border-hover
    text-components-button-destructive-primary-text;
  }

  .btn-primary.btn-disabled {
    @apply 
    shadow-none
    bg-components-button-primary-bg-disabled
    border-components-button-primary-border-disabled
    text-components-button-primary-text-disabled;
  }

  .btn-primary.btn-destructive.btn-disabled {
    @apply 
    shadow-none
    bg-components-button-destructive-primary-bg-disabled
    border-components-button-destructive-primary-border-disabled
    text-components-button-destructive-primary-text-disabled;
  }

  .btn-secondary {
    @apply 
    border
    shadow-none
    bg-components-button-secondary-bg 
    border-components-button-secondary-border 
    hover:bg-components-button-secondary-bg-hover 
    hover:border-components-button-secondary-border-hover 
    text-components-button-secondary-text;
  }

  .btn-secondary.btn-disabled {
    @apply 
    bg-components-button-secondary-bg-disabled 
    border-components-button-secondary-border-disabled 
    text-components-button-secondary-text-disabled;
  }

  .btn-secondary.btn-destructive {
    @apply 
    bg-components-button-destructive-secondary-bg 
    border-components-button-destructive-secondary-border 
    hover:bg-components-button-destructive-secondary-bg-hover 
    hover:border-components-button-destructive-secondary-border-hover 
    text-components-button-destructive-secondary-text;
  }

  .btn-secondary.btn-destructive.btn-disabled {
    @apply 
    bg-components-button-destructive-secondary-bg-disabled 
    border-components-button-destructive-secondary-border-disabled 
    text-components-button-destructive-secondary-text-disabled;
  }

  
  .btn-secondary-accent {
    @apply 
    border
    shadow-none
    bg-components-button-secondary-bg 
    border-components-button-secondary-border 
    hover:bg-components-button-secondary-bg-hover 
    hover:border-components-button-secondary-border-hover 
    text-components-button-secondary-accent-text;
  }

  .btn-secondary-accent.btn-disabled {
    @apply 
    bg-components-button-secondary-bg-disabled 
    border-components-button-secondary-border-disabled 
    text-components-button-secondary-accent-text-disabled;
  }

  .btn-warning {
    @apply 
    bg-components-button-destructive-primary-bg 
    border-components-button-destructive-primary-border 
    hover:bg-components-button-destructive-primary-bg-hover 
    hover:border-components-button-destructive-primary-border-hover 
    text-components-button-destructive-primary-text;
  }

  .btn-warning.btn-disabled {
    @apply 
    bg-components-button-destructive-primary-bg-disabled 
    border-components-button-destructive-primary-border-disabled 
    text-components-button-destructive-primary-text-disabled;
  }

  .btn-tertiary {
    @apply 
    bg-components-button-tertiary-bg 
    hover:bg-components-button-tertiary-bg-hover 
    text-components-button-tertiary-text;
  }

  .btn-tertiary.btn-disabled {
    @apply 
    bg-components-button-tertiary-bg-disabled 
    text-components-button-tertiary-text-disabled;
  }

  .btn-tertiary.btn-destructive {
    @apply 
    bg-components-button-destructive-tertiary-bg 
    hover:bg-components-button-destructive-tertiary-bg-hover 
    text-components-button-destructive-tertiary-text;
  }

  .btn-tertiary.btn-destructive.btn-disabled {
    @apply 
    bg-components-button-destructive-tertiary-bg-disabled 
    text-components-button-destructive-tertiary-text-disabled;
  }

  .btn-ghost {
    @apply 
    hover:bg-components-button-ghost-bg-hover 
    text-components-button-ghost-text;
  }

  .btn-ghost.btn-disabled {
    @apply 
    text-components-button-ghost-text-disabled;
  }

  .btn-ghost.btn-destructive {
    @apply 
    hover:bg-components-button-destructive-ghost-bg-hover 
    text-components-button-destructive-ghost-text;
  }

  .btn-ghost.btn-destructive.btn-disabled {
    @apply 
    text-components-button-destructive-ghost-text-disabled;
  }

  .btn-ghost-accent {
    @apply 
    hover:bg-state-accent-hover
    text-components-button-secondary-accent-text;
  }

  .btn-ghost-accent.btn-disabled {
    @apply 
    text-components-button-secondary-accent-text-disabled;
  }

  .btn-large.btn-icon {
    @apply px-3;
  }

  .btn-medium.btn-icon {
    @apply px-2;
  }

  .btn-small.btn-icon {
    @apply px-1;
  }

  .btn-large.btn-icon-left {
    @apply pl-3 pr-6;
  }

  .btn-medium.btn-icon-left {
    @apply pl-2 pr-4;
  }

  .btn-small.btn-icon-left {
    @apply pl-1 pr-2;
  }

  .btn-large.btn-icon-right {
    @apply pl-6 pr-3;
  }

  .btn-medium.btn-icon-right {
    @apply pl-4 pr-2;
  }

  .btn-small.btn-icon-right {
    @apply pl-2 pr-1;
  }

  .btn-large.btn-rounded {
    @apply rounded-[12px];
  }

  .btn-medium.btn-rounded {
    @apply rounded-[8px];
  }

  .btn-small.btn-rounded {
    @apply rounded-[4px];
  }

  .btn .a-icon--btn path {
    transition: fill .3s ease-out;

  }
  /*ghost-btn-icons*/
  .btn-ghost .a-icon--btn path {
    fill: var(--color-basic-gray-500);
  }

  .btn-ghost:hover .a-icon--btn path {
    fill: var(--color-basic-gray-800);
  }
  .btn-ghost.btn-disabled:hover .a-icon--btn path,
  .btn-ghost.btn-disabled .a-icon--btn path{
    fill: var(--color-basic-gray-200);
  }
  /*ghost-destructive-btn-icons*/
  .btn-ghost.btn-destructive .a-icon--btn path {
    fill: var(--color-basic-red-400);
  }

  .btn-ghost.btn-destructive:hover .a-icon--btn path {
    fill: var(--color-basic-red-500);
  }
  .btn-ghost.btn-destructive.btn-disabled:hover .a-icon--btn path,
  .btn-ghost.btn-destructive.btn-disabled .a-icon--btn path{
    fill: var(--color-basic-red-200);
  }
   /*tetriary-btn-icons*/
   .btn-tetriary .a-icon--btn path {
    fill: var(--color-basic-gray-500);
  }

  .btn-tetriary:hover .a-icon--btn path {
    fill: var(--color-basic-gray-800);
  }
  .btn-tetriary.btn-disabled:hover .a-icon--btn path,
  .btn-tetriary.btn-disabled .a-icon--btn path{
    fill: var(--color-basic-gray-200);
  }
  /*tetriary-destructive-btn-icons*/
  .btn-tetriary.btn-destructive .a-icon--btn path {
    fill: var(--color-basic-red-400);
  }

  .btn-tetriary.btn-destructive:hover .a-icon--btn path {
    fill: var(--color-basic-red-500);
  }
  .btn-tetriary.btn-destructive.btn-disabled:hover .a-icon--btn path,
  .btn-tetriary.btn-destructive.btn-disabled .a-icon--btn path{
    fill: var(--color-basic-red-200);
  }
  /*primary-btn-icons*/
  .btn-primary .a-icon--btn path {
    fill: var(--color-basic-primary-50);
  }

  .btn-primary:hover .a-icon--btn path {
    fill: var(--color-basic-white);
  }
  .btn-primary.btn-disabled:hover .a-icon--btn path,
  .btn-primary.btn-disabled .a-icon--btn path{
    fill: var(--color-basic-primary-100);
  }
   /*secondary-btn-icons*/
   .btn-secondary .a-icon--btn path {
    fill: var(--color-basic-gray-700);
  }

  .btn-secondary:hover .a-icon--btn path {
    fill: var(--color-basic-black);
  }
  .btn-secondary.btn-disabled:hover .a-icon--btn path
  .btn-secondary.btn-disabled .a-icon--btn path {
    fill: var(--color-basic-gray-200);
  }
  /*secondary-btn-accent-icons*/
  .btn-secondary-accent .a-icon--btn path {
    fill: var(--color-basic-primary-400);
  }

  .btn-secondary-accent:hover .a-icon--btn path {
    fill: var(--color-basic-primary-500);
  }
  .btn-secondary-accent.btn-disabled .a-icon--btn path,
  .btn-secondary-accent.btn-disabled:hover .a-icon--btn path {
    fill: var(--color-basic-primary-100);
  }
  /*secondary destructive*/
  .btn-secondary.btn-destructive .a-icon--btn path{
    fill: var(--color-basic-red-400);
  }
  .btn-secondary.btn-destructive:hover .a-icon--btn path{
    fill: var(--color-basic-red-500);
  }
  .btn-secondary.btn-destructive.btn-disabled .a-icon--btn path,
  .btn-secondary.btn-destructive.btn-disabled:hover .a-icon--btn path{
    fill: var(--color-basic-red-200);
  }
  
}

